.moonIcon{
    color: var(--color-link-blue);
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    transition-timing-function: ease-in-out;
}

.sunIcon{
    color: var(--color-link-blue);
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    transition-timing-function: ease-in-out;
}